html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
  font-family: Arial, sans-serif;
  color: black;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/unsplash.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
}

.home {
  z-index: 10;
  text-align: center;
  color: #fff;
  padding: 20px;
}

#home img {
  max-width: 15%;
  height: auto;
  border-radius: 40%;
  padding: 10px;
  margin-top: 2%;
  object-fit: scale-down;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer {
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#skills img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

nav {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: darkcyan;
  overflow: hidden;
  z-index: 10;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: darkslategrey;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  margin-right: 10px;
}

nav a {
  display: block;
  float: left;
  color: darkcyan;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

nav a:hover {
  color: cadetblue;
}

.content {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  margin-top: 60px;
  padding: 20px;
}

.content section {
  flex: 1 1 calc(50% - 40px);
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: 5px;
}

.skill-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-grid a img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.2s;
}

.skill-grid a img:hover {
  transform: scale(1.1);
}

p,
.home {
  font-family: monospace;
}

div p {
  font-size: larger;
  font-weight: bold;
}

#contact {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact h2 {
  margin-bottom: 20px;
}

form {
  max-width: 33%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #eaeef3;
  font-style: italic;
  font-size: 15px;
}

form button {
  padding: 10px 20px;
  color: black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #a8c0db;
  font-weight: bold;
}

form button:hover {
  background-color: #4a5e75;
}

@media (min-width: 768px) {
  .content {
    flex: 1 1 calc(50% - 20px);
  }

  #home img {
    min-width: 15%;
  }

}

@media (min-width: 1024px) {
  .content {
    flex: 1 1 calc(33% - 40px);
  }

  #home img {
    max-width: 15%;
  }

}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
  }

  nav a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px;
  }

  .content {
    margin-top: 100px;
    flex-direction: column;
  }

  .content section {
    flex: 1 1 100%;
  }

  form {
    max-width: 80%;
    padding: 10px;
  }

  .home img {
    max-width: 50%;
    height: auto;
  }
}

@media (max-width: 600px) {
  .skill-grid {
    flex-direction: column;
  }

  .home img {
    max-width: 70%;
    height: auto;
  }

  .content section {
    flex: 1 1 100%;
  }
}
